In [2]:
name=input('Enter the name:')
rollno=input('Enter the roll number:')
mark=input('Enter the mark:')
print('Name :',name)
print('Roll No :',rollno)
print('Mark :',mark)

Enter the name:Anisha
Enter the roll number:21
Enter the mark:78
Name : Anisha
Roll No : 21
Mark : 78

In [3]:
temp=int(input('Temperature in Fahrenheit ='))
cel=((temp-32)/9)*5
print('Temperature in Celsius =',cel)

Temperature in Fahrenheit =41
Temperature in Celsius = 5.0

In [5]:
num1=int(input('Enter the first number :'))
num2=int(input('Enter the second number :'))
pdt=num1*num2
print('The product of the numbers :',pdt)

Enter the first number :50
Enter the second number :50
The product of the numbers : 2500

In [26]:
st='''Learn**Python**by Developing a**Website**'''
print(st)

Learn**Python**by Developing a**Website**

In [27]:
import math
r=int(input('Enter the radius of the circle :'))
area=math.pi*r*r
print('Area of the circle = ',area )

Enter the radius of the circle :5
Area of the circle =  78.53981633974483

In [29]:
list1=[2,3,4,5,6,7]
num1=int(input('Enter the position of the number to be changed = '))
num2=int(input('Enter the number to be changed = '))
list1.insert(num1,num2)
print(list1)

Enter the position of the number to be changed = 3
Enter the number to be changed = 0
[2, 3, 4, 0, 5, 6, 7]

In [31]:
d={"name":"John","age":"5","salary":"8000","city":"New York"}
place=input('Rename the city : ')
d["city"]=place
print(d)

Rename the city : USA
{'name': 'John', 'age': '5', 'salary': '8000', 'city': 'USA'}

In [33]:
d={'emp1':{'name':'John','salary':'7500'},
  'emp2':{'name':'Emma','salary':'8000'},
  'emp3':{'name':'Brad','salary':'500'}}
d['emp3']['salary']=8500
print(d)

{'emp1': {'name': 'John', 'salary': '7500'}, 'emp2': {'name': 'Emma', 'salary': '8000'}, 'emp3': {'name': 'Brad', 'salary': 8500}}

In [35]:
tuple1=(10,20,43,54,56,68)
tuple2=(tuple1[2],tuple1[3])
print(tuple2)

(43, 54)

In [36]:
tuple1=(50,10,60,70,50,83,567,50,81)
tuple1.count(50)

3